#svg-map {
	transform: translate(12.5%);
	transition: viewBox 1s;
	z-index: 1;
}

#span {
	appearance: auto;
	background-color: gray;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttonborder;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 1px;
    border-style: outset;
    border-color: gray;
    border-image: initial;
	border-radius: 2px;
}

#container, button, select, span {
	font-size: 900px;
}

div {
	position: relative;
}

body {
	background-color: #aad3df;
	/*background-image: url('BaseMap.png');
	background-repeat: no-repeat;
	height: 538px;
	width: 931.43201px;*/
}

path {
    stroke: black;
    pointer-events: all;
}

.Undefined {
	display: none;
}


.style-0 {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 10;
	stroke-opacity: 1;
}

.style-1 {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.14;
	stroke-opacity: 1;
}

.style-0:hover {
	fill: blue;
}

.style-0:active {
	fill: green;
}

.style-1:hover {
	fill: green;
}

.style-1:active {
	fill: blue;
}

.style-2 {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-opacity: 1;
	stroke-width: 0.1;
}

.style-2:hover {
	fill: blue;
}

.style-2:active {
	fill: black;
}

.style-3 {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.05;
	stroke-opacity: 1;
}

.style-3:hover {
	fill: purple;
}

.style-3:active {
	fill: black;
}

.style-4 {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.04;
	stroke-opacity: 1;
}

.style-4:hover {
	fill: red;
}

.style-4:active {
	fill: black;
}

.style-5 {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.0175;
	stroke-opacity: 1;
}

.style-5:hover {
	fill: #ff4b00;
}

.style-5:active {
	fill: orange;
}

.style-6 {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.01;
	stroke-opacity: 1;
}

.style-6:hover {
	fill: orange;
}

.style-6:active {
	fill: green;
}

.style-7 {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.003;
	stroke-opacity: 1;
}

.style-7:hover {
	fill: #71a3f5;
}

.style-7:active {
	fill: blue;
}

.style-8 {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.0025;
	stroke-opacity: 1;
}

.style-9, .style-10, .style-11, .style-12 {
	fill: #ffefd5;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a1;
	stroke-width: 0.002325;
	stroke-opacity: 1;
}

.style-8:hover, .style-9:hover, .style-10:hover, .style-11:hover, .style-12:hover {
	fill: teal;
}

.style-8:active, .style-9:active, .style-10:active, .style-11:active, .style-12:active {
	fill: blue;
}

.pin {
	display:inline;
	fill:black;
	fill-opacity:1;
	fill-rule: evenodd;
	stroke-dasharray:none;
	stroke-width:0.00033;
}

.img {
	image-rendering:optimizeQuality;
	preserveAspectRatio:none;
}
#loader {
  padding-bottom: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  z-index: 2;
}

#progress-bar {
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9%;
  z-index: 2;
}

#progress-value {
  color: #000000;
  font-family: "Comic Sans MS";
  font-size: 12px;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}